body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.weather-app, form, label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  top: 0;
  margin: 0;
  background-color: #162c21ef;
  height: 100vh;
  width: 8vmax;
  color: white;
}

header .header-title {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  top: 50%;
  width: 80%;
  font-size: 3vmax;
  letter-spacing: 1vmax;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: sideways-right;
}

.alert {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}

.alert .alert-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.712);
  z-index: 20;
}

.alert .alert-message {
  background-color: #162c21;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 300px;
  width: 30%;
  max-width: 500px;
  min-height: 200px;
  padding: 20px;
  z-index: 30;
}

.alert .alert-message button, .alert .alert-message h1 {
  width: 80%;
}

.weather-app {
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather-app .starting-screen {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #162c21;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.weather-app .starting-screen h1 {
  font-size: 10vmax;
}

.weather-app .starting-screen.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.weather-app .loading-screen {
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 20vmax;
  width: 20vmax;
  background-color: rgba(39, 39, 39, 0.548);
  border-radius: 10%;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.weather-app .loading-screen svg {
  height: 60%;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.weather-app .display-header {
  width: 100%;
  max-width: 2000px;
  padding: 50px 0;
  position: relative;
  background-color: #162c21ef;
}

.weather-app .display-header .title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  letter-spacing: 0.1vmax;
  text-align: center;
  color: white;
  width: 100%;
}

.weather-app .display-header .return-button {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  top: 50%;
  left: 5%;
  padding: 20px 30px;
  letter-spacing: normal;
  border: white 0.01vmax solid;
  background: none;
  z-index: 50;
}

.weather-app .display-header .return-button span {
  margin: 0 5px;
}

.weather-app .display-header .return-button:hover {
  text-decoration: underline;
}

.weather-app .forms {
  color: #FCFCFC;
  width: 80%;
  height: 100%;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.weather-app .forms input:focus {
  outline: none;
}

.weather-app .forms form {
  background-color: #162c21ef;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin: 40px 10px;
  padding: 30px 10px;
  min-width: 400px;
  max-width: 1000px;
}

.weather-app .forms form label {
  font-size: 50px;
  font-weight: 200;
  margin: 30px;
}

.weather-app .forms form input, .weather-app .forms form select {
  background-color: #244e3e8a;
  border: 1px white solid;
  padding: 20px 30px;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
}

.weather-app .forms form input:hover, .weather-app .forms form select:hover {
  background-color: #dfffeb91;
}

.weather-app .forms .submit-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px;
  width: 80%;
  max-width: 800px;
}

.weather-app .forms .submit-buttons button {
  width: 40%;
  min-width: 300px;
}

.weather-app .forms .submit-buttons .current-weather-button {
  background: none;
  border: 0.1vmax #b11335 solid;
}

.weather-app .forms .submit-buttons .current-weather-button:hover {
  background-color: #b11335;
}

.weather-app .forms .city-form p {
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  color: #e9f3edcc;
}

.weather-app .forms .city-form .city-country-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-app .forms .city-form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.719);
}

.weather-app .forms .city-form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.719);
}

.weather-app .forms .city-form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.719);
}

.weather-app .forms .city-form input::placeholder {
  color: rgba(255, 255, 255, 0.719);
}

.weather-app .cw-display {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  padding: 20px;
  margin: 20px;
}

.weather-app .cw-display .cw-main {
  width: 100%;
  max-width: 2000px;
  background-color: #162c21ef;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-app .cw-display .cw-main div {
  min-width: 500px;
  margin: 20px;
}

.weather-app .cw-display .cw-main .cw-representation {
  font-size: 50px;
}

.weather-app .cw-display .cw-main .cw-representation .cw-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather-app .cw-display .cw-main .cw-representation .cw-description {
  text-align: center;
  text-transform: capitalize;
}

.weather-app .cw-display .cw-main .cw-temp {
  text-align: center;
}

.weather-app .cw-display .cw-main .cw-temp .cw-temp-actual {
  font-size: 200px;
  font-weight: 200;
  line-height: 100%;
}

.weather-app .cw-display .cw-main .cw-temp .cw-temp-feels-like {
  font-size: 30px;
  color: silver;
}

.weather-app .cw-display .cw-main .cw-temp .cw-temp-feels-like .feels-like-value {
  font-size: 100px;
  font-weight: 500;
}

.weather-app .cw-display .cw-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  text-align: center;
  width: 100%;
  max-width: 2000px;
}

.weather-app .cw-display .cw-details .cw-detail-box {
  background-color: #162c21ef;
  color: #FCFCFC;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
  min-width: 100px;
  max-width: 500px;
  min-width: 400px;
  width: 25%;
  margin: 5px;
  border-radius: 10px;
}

.weather-app .cw-display .cw-details .cw-detail-box .cw-detail-box-title {
  padding: 20px;
  font-size: 40px;
  font-weight: 500;
}

.weather-app .cw-display .cw-details .cw-detail-box .cw-detail-box-value {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 200;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 120px;
}

.weather-app .cw-display .cw-details .cw-detail-box .cw-detail-box-value .unit {
  font-size: 20px;
}

.weather-app .cw-display .cw-details .cw-detail-box .wind-value {
  text-align: center;
}

.weather-app .cw-display .cw-details .cw-detail-box .wind-value .wind-deg, .weather-app .cw-display .cw-details .cw-detail-box .wind-value .wind-speed {
  font-size: 50px;
}

.weather-app .place {
  max-width: 2000px;
  width: 100%;
  padding: 20px 0;
  background-color: #162c21ef;
  color: white;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 20px;
}

.weather-app .place .place-lat-long {
  font-style: italic;
}

.weather-app .place .place-city {
  text-transform: capitalize;
}

.weather-app .place span {
  margin: 0 30px;
  height: 100%;
}

.weather-app .place .for {
  font-size: 40px;
}

.weather-app .city-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  margin: 10px;
  max-width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-app .city-list .city-list-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather-app .city-list .city-list-items .city-list-item {
  max-height: 600px;
  width: 30%;
  max-width: 500px;
  background-color: #162c21ef;
  color: #FCFCFC;
  min-width: 350px;
  margin: 30px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather-app .city-list .city-list-items .city-list-item .city-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 200px;
  height: 30%;
  font-size: 70px;
  font-weight: 200;
  line-height: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 10px 0;
}

.weather-app .city-list .city-list-items .city-list-item .city-details {
  height: 20%;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.weather-app .city-list .city-list-items .city-list-item .city-coords {
  width: 60%;
  height: 20%;
  min-height: 50px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  font-style: italic;
}

.weather-app .city-list .city-list-items .city-list-item button {
  height: 30%;
  min-height: 50px;
  margin: 10px;
}

.weather-app .fw-display {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  max-width: 2000px;
  margin: 10px;
}

.weather-app .fw-display .fw-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
  margin: 10px 0;
  max-width: 2000px;
  width: 100%;
}

.weather-app .fw-display .fw-results .fw-display-item {
  background-color: #162c21ef;
  color: #FCFCFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 500px;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.weather-app .fw-display .fw-results .fw-display-item .fw-day {
  font-size: 40px;
  height: 80px;
}

.weather-app .fw-display .fw-results .fw-display-item .fw-representation {
  min-height: 350px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2vmax;
}

.weather-app .fw-display .fw-results .fw-display-item .fw-representation .fw-icon {
  height: 200px;
  font-size: 40px;
}

.weather-app .fw-display .fw-results .fw-display-item .fw-representation .fw-description {
  padding: 0.5vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-overflow: wrap;
  font-size: 50px;
  font-weight: 200;
  line-height: 100%;
  height: 80px;
  text-transform: capitalize;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-app .fw-display .fw-results .fw-display-item .fw-details {
  min-height: 100px;
  height: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

.weather-app .fw-display .fw-results .fw-display-item .fw-details .fw-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
}

.weather-app .fw-display .fw-results .fw-display-item .fw-details .fw-temp .fw-temp-day, .weather-app .fw-display .fw-results .fw-display-item .fw-details .fw-temp .fw-temp-night {
  padding: 0 0.2vmax;
}

.weather-app .fw-display .fw-results .fw-display-item .fw-details .fw-temp .fw-temp-day {
  color: #dfdfdf;
}

.weather-app .fw-display .fw-results .fw-display-item .fw-details .fw-temp .fw-temp-night {
  color: #dfdfdfd0;
}

.weather-app .fw-display .fw-results .fw-display-item .fw-details .fw-humidity {
  height: 50%;
  color: #a9cad6;
}

.weather-app .socials {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 2%;
  bottom: 50%;
  color: white;
  width: 6vmax;
  height: 15vmax;
  z-index: 1;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.weather-app .socials .social {
  color: white;
  text-decoration: none;
  padding: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  background: #162c21;
  border-radius: 50%;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  font-size: 50px;
}

.weather-app .socials .social:hover {
  width: 120px;
  height: 120px;
  background-color: #162c21ef;
}

.weather-app .socials .linkedin {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.weather-app .socials .github {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

button {
  background-color: #b11335;
  color: #FCFCFC;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
}

button:focus {
  outline: none;
}

button:hover {
  background: linear-gradient(145deg, #dd5a67, #ff6b7a);
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4vmax;
  font-size: 1.2rem;
  background-color: #162c21;
  color: #FCFCFC;
  display: flex;
}

footer a {
  text-decoration: none;
  color: #FCFCFC;
}

footer i {
  margin: 1rem;
}

div::-webkit-scrollbar {
  width: 10px;
}

div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

div::-webkit-scrollbar-thumb {
  background-color: #162c21;
  border: 0.01vmax solid #dfffeb91;
  border-radius: 1rem;
}

@media screen and (max-width: 1500px) {
  .weather-app .display-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .weather-app .display-header .return-button {
    width: 20%;
    position: relative;
  }
  .weather-app .socials {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
    left: 0;
    width: 300px;
  }
  .weather-app .socials .social {
    width: 20px;
    height: 20px;
    font-size: 30px;
  }
  .weather-app .socials .social:hover {
    width: 30px;
    height: 30px;
  }
  .weather-app .socials .linkedin, .weather-app .socials .github {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media screen and (max-width: 900px) {
  .weather-app header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 13vh;
    width: 100vw;
  }
  .weather-app header .header-title {
    position: relative;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    text-orientation: sideways-right;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .weather-app .title {
    font-size: 40px;
    padding: 20px 0;
  }
  .weather-app .forms {
    width: 100%;
  }
  .weather-app .forms form {
    width: 80%;
  }
  .weather-app .city-list .city-list-items .city-list-item {
    width: 100%;
  }
  .weather-app .cw-display {
    width: 80%;
  }
  .weather-app .fw-display .fw-results {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-x: auto;
  }
  .weather-app .fw-display .fw-results .fw-display-item {
    width: 20rem;
  }
}
/*# sourceMappingURL=index.css.map */