body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b3f7cd;
  background: #b3f7cd;
  background: -webkit-gradient(linear, left top, right top, from(#b3f7cd), to(#0dcff6));
  background: linear-gradient(90deg, #b3f7cd 0%, #0dcff6 100%);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.weather-app, .forms, form, label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-app {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 93vh;
}

.weather-app .background-text {
  position: absolute;
  font-size: 30rem;
  font-weight: 200;
  letter-spacing: 1rem;
  line-height: 29rem;
  color: #6ae2d8;
  top: 0%;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.weather-app .background-text p {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.weather-app .forms {
  padding: 2rem;
  margin: 1rem;
  width: 30%;
  background-color: #11565f;
  color: #FCFCFC;
  border-radius: 1rem;
  -webkit-box-shadow: 10px 150x 40px 6px #11565f;
  box-shadow: 10px 10px 40px 6px #11565f;
}

.weather-app .forms form {
  margin: 0.5rem;
}

.weather-app .forms form label {
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0.5rem;
}

.weather-app .forms form input, .weather-app .forms form select {
  background-color: #029084;
  color: inherit;
  padding: 1rem 1rem 1rem 2rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
}

.weather-app .forms form input:hover, .weather-app .forms form select:hover {
  background-color: #b3f7cd;
  color: #11565f;
}

.weather-app .forms .position-form {
  margin: 1rem;
}

.weather-app .forms .submit-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.3rem;
}

.weather-app .forms .submit-buttons .current-weather-button {
  background: none;
  border: 0.1rem #d8535e solid;
}

.weather-app .forms .submit-buttons .current-weather-button:hover {
  background-color: #d8535e;
}

.weather-app .forms .forms-title {
  font-size: 3rem;
  padding: 1rem 1rem 0 1rem;
  text-align: center;
}

.weather-app .forms .lat-long-form input {
  width: 60%;
}

.weather-app .forms .city-form p {
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.7rem;
  color: #e9f3edcc;
}

.weather-app .forms .city-form .city-country-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-app .forms .city-form .city-country-inputs input::-webkit-input-placeholder {
  color: #FCFCFC;
  opacity: 50%;
}

.weather-app .forms .city-form .city-country-inputs input:-ms-input-placeholder {
  color: #FCFCFC;
  opacity: 50%;
}

.weather-app .forms .city-form .city-country-inputs input::-ms-input-placeholder {
  color: #FCFCFC;
  opacity: 50%;
}

.weather-app .forms .city-form .city-country-inputs input::placeholder {
  color: #FCFCFC;
  opacity: 50%;
}

.weather-app .forms .city-form .city-country-inputs input:hover input::-webkit-input-placeholder {
  color: #d8535e;
}

.weather-app .forms .city-form .city-country-inputs input:hover input:-ms-input-placeholder {
  color: #d8535e;
}

.weather-app .forms .city-form .city-country-inputs input:hover input::-ms-input-placeholder {
  color: #d8535e;
}

.weather-app .forms .city-form .city-country-inputs input:hover input::placeholder {
  color: #d8535e;
}

.weather-app .forms .position-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.weather-app .forms .or {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin: 0;
}

.weather-app .current-weather-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
  background-color: #11565f;
  color: #FCFCFC;
  width: 40%;
  border-radius: 1rem;
}

.weather-app .current-weather-display .current-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.weather-app .current-weather-display .current-temp {
  font-size: 9rem;
}

.weather-app .current-weather-display .current-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem;
}

.weather-app .current-weather-display .current-main .current-weather .current-description {
  text-transform: capitalize;
}

.weather-app .current-weather-display .current-main .current-weather .current-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather-app .place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.weather-app .place .place-city {
  text-transform: capitalize;
}

.weather-app .city-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  margin: 1rem;
  width: 30%;
  background-color: #11565f;
  color: #FCFCFC;
  border-radius: 1rem;
  -webkit-box-shadow: 10px 150x 40px 6px #11565f;
  box-shadow: 10px 10px 40px 6px #11565f;
}

.weather-app .city-list .city-list-item {
  background-color: #029084;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-app .city-list .city-list-item .city-name {
  font-size: 3rem;
}

.weather-app .city-list .city-list-item .city-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-app .city-list .city-list-item button {
  margin: 0.5rem;
}

.weather-app .forecast-weather-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  background-color: #11565f;
  color: #FCFCFC;
  border-radius: 1rem;
}

.weather-app .forecast-weather-display .forecast-display-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.weather-app .forecast-weather-display .forecast-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.weather-app .forecast-weather-display .forecast-results .forecast-display-item {
  background-color: #029084;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather-app .forecast-weather-display .forecast-results .forecast-display-item .forecast-day {
  font-size: 1.5rem;
}

.weather-app .forecast-weather-display .forecast-results .forecast-display-item .forecast-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.weather-app .forecast-weather-display .forecast-results .forecast-display-item .forecast-temp .forecast-temp-day, .weather-app .forecast-weather-display .forecast-results .forecast-display-item .forecast-temp .forecast-temp-night {
  padding: 0 0.5rem;
}

.weather-app .forecast-weather-display .forecast-results .forecast-display-item .forecast-temp .forecast-temp-day {
  color: #f0ebd3;
}

.weather-app .forecast-weather-display .forecast-results .forecast-display-item .forecast-temp .forecast-temp-night {
  color: #dfdfdfd0;
}

.weather-app .forecast-weather-display .forecast-results .forecast-display-item .forecast-humidity {
  color: #81c5e0;
}

button {
  background-color: #d8535e;
  color: #FCFCFC;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding: 0.5rem 1rem;
  margin: 0.3rem;
  border: none;
  border-radius: 0.5rem;
}

button p {
  margin: 0 1rem;
}

button:hover {
  background: linear-gradient(145deg, #dd5a67, #ff6b7a);
}

button:active {
  border-radius: 0.5rem;
  background: #F45B69;
  -webkit-box-shadow: inset 10px 10px 20px #cf4d59,  inset -10px -10px 20px #ff6979;
          box-shadow: inset 10px 10px 20px #cf4d59,  inset -10px -10px 20px #ff6979;
}

.return-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3rem;
  top: 2%;
  left: 2%;
  padding: 1rem;
}

.return-button p {
  margin: 1rem 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 7vh;
  font-size: 1.2rem;
  background-color: #029084;
  color: #FCFCFC;
  display: flex;
}

footer a {
  text-decoration: none;
  color: #FCFCFC;
}

footer i {
  margin: 1rem;
}

@media screen and (max-width: 1200px) {
  .weather-app .forms {
    width: 60%;
  }
  .weather-app > .current-weather-display {
    width: 60%;
  }
}

@media screen and (max-width: 992px) {
  .weather-app .forms {
    width: 70%;
  }
  .weather-app > .current-weather-display {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .weather-app .forms {
    width: 75%;
  }
}

@media screen and (max-height: 800px) {
  footer {
    height: 10vh;
  }
}

@media screen and (max-height: 600px) {
  footer {
    height: 15vh;
  }
}
/*# sourceMappingURL=index.css.map */