body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.weather-app, .forms, form, label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-app {
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather-app .starting-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vmax;
  background-color: #162c21;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather-app .loading-screen {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 30vh;
  width: 30vh;
  background-color: rgba(39, 39, 39, 0.418);
  border-radius: 10%;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.weather-app .loading-screen svg {
  height: 60%;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.weather-app .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2vmax;
  letter-spacing: 0.1vmax;
}

.weather-app .forms, .weather-app .cw-display, .weather-app .fw-display, .weather-app .city-list {
  border-radius: 1vmax;
  -webkit-box-shadow: 0 0 10vmax 2vmax  #162c21;
  box-shadow: 0 0 10vmax 2vmax #162c21;
  background-color: #162c21e8;
  color: #FCFCFC;
}

.weather-app .forms {
  padding: 1vmax;
  margin: 1vmax;
  width: 30%;
  background-color: #162c21e8;
  color: #FCFCFC;
}

.weather-app .forms form {
  margin: 0.3vmax;
}

.weather-app .forms form label {
  font-size: 1.5vmax;
  font-weight: 200;
  margin: 0.2vmax 0;
}

.weather-app .forms form input, .weather-app .forms form select {
  background-color: #244e3e8a;
  border: 0.05vmax white solid;
  padding: 0.8vmax 1vmax;
  margin: 0.3vmax;
  border-radius: 0.5vmax;
  font-size: 0.8vmax;
  color: white;
}

.weather-app .forms form input:hover, .weather-app .forms form select:hover {
  background-color: #dfffeb91;
}

.weather-app .forms .submit-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.2vmax;
}

.weather-app .forms .submit-buttons .current-weather-button {
  background: none;
  border: 0.1vmax #b11335 solid;
}

.weather-app .forms .submit-buttons .current-weather-button:hover {
  background-color: #b11335;
}

.weather-app .forms .forms-title {
  font-size: 3vmax;
  text-align: center;
}

.weather-app .forms .forms-desc {
  font-size: 0.8vmax;
  font-weight: 400;
}

.weather-app .forms .city-form p {
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.5vmax;
  color: #e9f3edcc;
}

.weather-app .forms .city-form .city-country-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-app .forms .city-form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.719);
}

.weather-app .forms .city-form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.719);
}

.weather-app .forms .city-form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.719);
}

.weather-app .forms .city-form input::placeholder {
  color: rgba(255, 255, 255, 0.719);
}

.weather-app .forms .position-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.weather-app .forms .or {
  font-size: 1.8vmax;
  font-weight: 500;
  letter-spacing: 0.1vmax;
  margin: 0;
}

.weather-app .cw-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  padding: 1vmax;
  margin: 1vmax;
}

.weather-app .cw-display .cw-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0.5vmax;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-app .cw-display .cw-main .cw-representation {
  font-size: 2vmax;
  margin: 1vmax;
}

.weather-app .cw-display .cw-main .cw-representation .cw-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather-app .cw-display .cw-main .cw-representation .cw-description {
  text-align: center;
  text-transform: capitalize;
}

.weather-app .cw-display .cw-main .cw-temp {
  margin: 1vmax;
  text-align: center;
}

.weather-app .cw-display .cw-main .cw-temp .cw-temp-actual {
  font-size: 8vmax;
  font-weight: 200;
  line-height: 100%;
}

.weather-app .cw-display .cw-main .cw-temp .cw-temp-feels-like {
  font-size: 1vmax;
  color: silver;
}

.weather-app .cw-display .cw-main .cw-temp .cw-temp-feels-like .feels-like-value {
  font-size: 3vmax;
  font-weight: 500;
}

.weather-app .cw-display .cw-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 1vmax;
}

.weather-app .cw-display .cw-details .cw-detail-box {
  background: none;
  color: #FCFCFC;
  border: 0.1vmax solid #FCFCFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vmax;
  width: 20%;
  margin: 0.5vmax;
  padding: 0.1vmax;
  border-radius: 1vmax;
}

.weather-app .cw-display .cw-details .cw-detail-box .cw-detail-box-title {
  font-size: 1vmax;
  font-weight: 500;
  padding: 1vmax;
  height: 20%;
}

.weather-app .cw-display .cw-details .cw-detail-box .cw-detail-box-value {
  font-weight: 200;
  height: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3vmax;
}

.weather-app .cw-display .cw-details .cw-detail-box .cw-detail-box-value .unit {
  font-size: 0.8vmax;
}

.weather-app .cw-display .cw-details .cw-detail-box .wind-value {
  text-align: center;
}

.weather-app .cw-display .cw-details .cw-detail-box .wind-value .wind-deg, .weather-app .cw-display .cw-details .cw-detail-box .wind-value .wind-speed {
  font-size: 1.5vmax;
}

.weather-app .place {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1vmax;
  font-style: italic;
}

.weather-app .place .place-city {
  text-transform: capitalize;
}

.weather-app .city-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1vmax;
  margin: 1vmax;
  max-width: 70%;
}

.weather-app .city-list .city-list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.5vmax;
  max-height: 80vh;
  overflow-y: scroll;
}

.weather-app .city-list .city-list-items .city-list-item {
  height: 15vmax;
  width: 20%;
  color: #FCFCFC;
  border: 0.1vmax solid #FCFCFC;
  border-radius: 1vmax;
  margin: 1vmax;
  padding: 2vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather-app .city-list .city-list-items .city-list-item .city-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 40%;
  font-size: 3vmax;
  font-weight: 200;
  line-height: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3vmax;
  margin: 0.5vmax 0;
}

.weather-app .city-list .city-list-items .city-list-item .city-details {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 1vmax;
  font-weight: 500;
}

.weather-app .city-list .city-list-items .city-list-item .city-coords {
  height: 20%;
  padding: 0.5vmax;
  font-size: 0.8vmax;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-style: italic;
}

.weather-app .city-list .city-list-items .city-list-item button {
  height: auto;
  margin: 1vmax;
}

.weather-app .fw-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  padding: 2vmax;
  margin: 1vmax;
}

.weather-app .fw-display .fw-display-title {
  text-align: center;
  font-size: 2vmax;
  letter-spacing: 0.1vmax;
}

.weather-app .fw-display .fw-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
  margin: 1vmax 0;
}

.weather-app .fw-display .fw-results .fw-display-item {
  background: none;
  color: #FCFCFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 20vmax;
  margin: 0.3vmax;
  padding: 0.1vmax;
  border: 0.1vmax #FCFCFC solid;
  border-radius: 1rem;
  text-align: center;
}

.weather-app .fw-display .fw-results .fw-display-item .fw-day {
  font-size: 2vmax;
  height: 4vmax;
}

.weather-app .fw-display .fw-results .fw-display-item .fw-representation {
  height: 17vmax;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2vmax;
}

.weather-app .fw-display .fw-results .fw-display-item .fw-representation .fw-icon {
  height: 50%;
}

.weather-app .fw-display .fw-results .fw-display-item .fw-representation .fw-description {
  padding: 0.5vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-overflow: wrap;
  height: 50%;
  font-size: 3vmax;
  font-weight: 200;
  line-height: 100%;
  text-transform: capitalize;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-app .fw-display .fw-results .fw-display-item .fw-details {
  height: 5vmax;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3vmax;
}

.weather-app .fw-display .fw-results .fw-display-item .fw-details .fw-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
}

.weather-app .fw-display .fw-results .fw-display-item .fw-details .fw-temp .fw-temp-day, .weather-app .fw-display .fw-results .fw-display-item .fw-details .fw-temp .fw-temp-night {
  padding: 0 0.2vmax;
}

.weather-app .fw-display .fw-results .fw-display-item .fw-details .fw-temp .fw-temp-day {
  color: #dfdfdf;
}

.weather-app .fw-display .fw-results .fw-display-item .fw-details .fw-temp .fw-temp-night {
  color: #dfdfdfd0;
}

.weather-app .fw-display .fw-results .fw-display-item .fw-details .fw-humidity {
  height: 50%;
  color: #a9cad6;
}

.weather-app .fw-display .fw-results::-webkit-scrollbar {
  width: 10rem;
}

.weather-app .fw-display .fw-results::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

.weather-app .fw-display .fw-results::-webkit-scrollbar-thumb {
  background-color: #162c21;
  border: 1px solid #ffffffe8;
  border-radius: 1rem;
}

button {
  background-color: #b11335;
  color: #FCFCFC;
  font-size: 0.8vmax;
  font-weight: 600;
  letter-spacing: 0.02vmax;
  padding: 0.5vmax 1vmax;
  margin: 0.2vmax;
  border: none;
  border-radius: 0.5vmax;
}

button p {
  margin: 0 0.5vmax;
}

button:hover {
  background: linear-gradient(145deg, #dd5a67, #ff6b7a);
}

button:active {
  background: #b11335;
  -webkit-box-shadow: inset 10px 10px 20px  #b11335,  inset -10px -10px 20px  #b11335;
          box-shadow: inset 10px 10px 20px  #b11335,  inset -10px -10px 20px  #b11335;
}

.return-button {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1vmax;
  height: 3vmax;
  top: 2%;
  left: 2%;
  padding: 1.2vmax;
}

.return-button span {
  margin: 0 0.2vmax;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4vh;
  font-size: 1.2rem;
  background-color: #162c21;
  color: #FCFCFC;
  display: flex;
}

footer a {
  text-decoration: none;
  color: #FCFCFC;
}

footer i {
  margin: 1rem;
}

@media screen and (max-width: 768px) {
  .weather-app .forms {
    width: 75%;
  }
  .weather-app .cw-display {
    width: 90%;
  }
  .weather-app .fw-display .fw-results {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 70vh;
    overflow-x: auto;
  }
  .weather-app .fw-display .fw-results .fw-display-item {
    width: 20rem;
  }
}

@media screen and (max-width: 400px) {
  .weather-app .forms {
    width: 75%;
  }
  .weather-app .cw-display {
    width: 90%;
  }
  .weather-app .fw-display {
    width: 90%;
  }
  .weather-app .fw-display .fw-results .fw-display-item {
    min-width: none;
    width: 5rem;
  }
}
/*# sourceMappingURL=index.css.map */